body{
    background-color: white;
    font-family: 'Germania One', cursive;
}

/*Header*/
/*Banner*/
.main-banner .myBanner{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.main-banner .myBanner .text{
    
    position: absolute;
    width: 90%;
    text-align: center;
}

/*About-me*/

.about-me{
    background-color: #000000;
    border-radius: 25px;
    border: 10px solid #dedede;
    color: white;
    padding: 2%;
    word-break: break-all;

}
.filler{
    padding-top: 3%;
}


a {
    color: white;
    word-wrap: break-word;

}

/*Footer*/
.footer{
     
    position: absolute;
    width: 100%;
    text-align: center;
    color: black;
    padding-bottom: 2%;
}